.list {
    $self: &;

    margin-bottom: 30px;

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        &:hover #{$self}__remove-btn {
            opacity: 0.3;
        }

        #{$self}__remove-btn {
            opacity: 0;
    
            &:hover {
                opacity: 0.7;
            }
        }

        &.active {
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }

        i {
            margin-right: 8px;
        }

        .badge {
            position: relative;
            left: 2px;
        }

        span {
            flex: 1;

            // ellipsis if there is more text
            text-overflow: ellipsis;
            overflow: hidden;
            width: 160px;
            white-space: nowrap;
        }
    }
}

